p {
	text-align: justify;
}

.markdown-section .code-scope {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
	font-size: .85em;
    overflow: auto;
    word-wrap: normal;
    margin: 0;
    padding: .85em 1em;
    margin-bottom: 1.275em;
    background: #f7f7f7;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.red-content {
	color: #BD050A;
}

.blue-content {
	color: #1238C5;
}

.yellow-content {
	color: #ACAB00;
}